body{
	margin: 0px;
	font-family: sans-serif;
}


/* Task1 */
.main-container{
	height: 100vh;
	position: relative;
	background-color: white;
}
.main-content{
	position: absolute;
	padding: 5px;
	left: 80px;
	right: 0px;
	top: 0px;
	bottom: 70px;
	overflow: hidden;
}
.sidebar>span{
	display: block;
}
.wrench{
	position: absolute;
	bottom: 0px;
}
.wrench>img{
	border-top: 1px solid #e7e7e7;
	vertical-align: bottom;
	border-bottom: none !important;
}
.sidebar>span>img{
	border-bottom: 1px solid #e7e7e7;
	vertical-align: bottom;
}
.sidebar{
	position: absolute;
	padding: 10px;
	left: 0px;
	bottom: 58px;
	top: 0px;
	background-color:#f4f4f4;
}

.heading h6{
	display: inline-block;
	font-size: 14px;
	margin: 10px 0px;
}
.available{
	padding: 10px 20px;
	border-radius: 5px;
	margin: 10px;
	background-color: #4bab4c;
	background-image: linear-gradient(135deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 5px 5px;
}
.unavailable{
	padding: 10px 20px;
	border-radius: 5px;
	margin: 10px;
	background-color: #d65c69;
	background-image: linear-gradient(135deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 5px 5px;
}

.heading h4{
	display: inline-block;
	margin: 15px 0px 10px 110px;
	font-size: 18px;
	font-weight: lighter;
}
ul{
	top: 50%;
	transform: translateY(-60%);
	position: absolute;
	padding: 0px;
	background-color: #f4f4f4;
	list-style-type: none;
}
ul>li:first-child{
	border-top: 1px solid #e7e7e7;
}
ul>li:nth-child(2){

}
ul>li{
	text-align: center;
	border-bottom: 1px solid #e7e7e7;
}
img{
	height: 40px;
	width: 40px;
	padding: 10px 0px;
	vertical-align: bottom;
}
.content{
	height: 410px;
	overflow-y: scroll;
}
.content table {
    border-collapse: collapse;
    width: 100%;
}
.colorgrey{
	background-color:  #f2f2f2;
}

.content table h5{
	margin: 0px;
}
.shaded{
	padding: 5px 5px 5px 10px;
	line-height: 21px;
	background-color: #eeedeb;
}
.content td, th {
    text-align: left;
}
.content th{
	font-weight: lighter;
	text-align: center !important;
}
.content td:first-child{
	width: 30%;
}
.content table tr>td:nth-child(2)>div{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.content table tr>td:last-child>div{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.code{
	padding: 5px 10px 10px 0px;
}
.code span{
	float: right;
	width: 21px;
	text-align: center;
	border-radius: 50%;
	background-color: red;
	color: white;
}
.sub-heading{
	color: #5f5f5f;
}


/*Stripped table rows*/
.stripped{
	padding: 12px;
	margin-top: 15px;
	background-color: #d65c69;
	background-image: linear-gradient(135deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 5px 5px;
}
.green-stripped{
	padding: 12px;
	margin-top: 15px;
	background-color: #4bab4c;
	background-image: linear-gradient(135deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 5px 5px;
}
.pop-up{
	display: none;
	position: absolute;
	background-color: white;
	bottom: 50px;
	width: 300px;
	border-radius: 10px;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px;
}
.pop-up>span{
	position: absolute;
	bottom: -15px;
	left: 50%;
	transform: translateX(-50%);
	color: white;
}
.pop-up h4{
	margin: 0px;
}
.pop-up h3{
	margin-top: 10px;
	font-size: 14px;
	font-weight: lighter;
}
.pop-up h6{
	margin-top: 15px;
	font-size: 14px;
	margin-bottom: 5px;
}
.pop-up h5{
	padding-bottom: 5px;
	color: #ff9e9e;
}
.pop-up button{
	background-color: #da2337;
	top:2px;
	color: white;
	padding: 10px 15px;
	border-radius: 5px;
	border:none;
	margin: 0px 5px;
}
.float-right{
	float: right;
}
.trigger{
	position: relative;
}
.trigger:hover div{
	display: block;
}
.total h6,h4{
	display: inline-block;
	font-size: 14px;
}
.total h4{
	font-weight: lighter;
	margin-left: 13px;
	margin-right: 20px;
}
.total>table{
	display: inline;
	margin-left: 50px;
}
.total button{
	background-color: #da2337;
	color: white;
	margin-left: 70px;
	font-size: 14px;
	border: none;
	border-radius: 2px;
	padding: 5px;
}
footer{
	padding: 10px;
	background-color: #f5f5f5;
	border-top: 1px solid #e7e7e7;
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
}
footer input{
	margin-left: 50px;
	padding: 10px;
	border-left: 1px solid #e7e7e7 !important;
	border: none;
	background-color: transparent;
	border-radius: 5px;
	font-size: 18px;
	font-weight: lighter;
	height: 37px;
	width: 400px;
}

footer button{
	position: initial;
	float: right;
	background-color: #da2337;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	padding: 10px 20px;
}

/*.nav{
	display: none;
}
.nav-mobile {
  display:none;
  cursor:pointer;
  position:absolute;
  top:0;
  right:0;
  background:#34495E url(../images/nav.svg) no-repeat center center;
  height:40px;
  width:40px;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
}

	/*Media queries*/

/*@media only screen and (min-width: 320px) and (max-width: 768px) {
  .sidebar{
  	display: none;
  }
  .nav {
  	display: block;
    width:100%;
  }
  .nav-item {
    width:100%;
    float:none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .nav-mobile {
    display:block;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .nav-list {
    display:none;
  }
}*/

/* Task2 */
.checkout-button{
	display: inline-block;
	border:2px solid #5b5b5b;
	border-radius: 10px;
	padding: 2px;
}
.checkout{
	background-color: #cbcbcb;
	padding: 5px;
	display: inline-block;
	border-radius: 7px;
}
.star{
	color:#888888;
	background-color: transparent;
}
.checkout h5{
	margin:0px;
	color: #545454;
	border: 1px solid #afafaf;
	padding: 10px;
	background: linear-gradient(#dcdcdc,#b8b8b8);
	box-shadow: 0px 2px 1px #717171;
	border-radius: 5px;
}

/* Task3 */

.onhover{
	position: absolute;
	top: -70px;
	display: none;
}
.onhover span{
	position: absolute;
	top: 53px;
	left: 250px;
	color: #424242;
}
.progressbar:hover .onhover{
	display:block;
}
.onhover h5{
	padding: 10px;
	background-color: #424242;
	color: white;
	width: 280px;
	border-radius: 3px;
	margin-bottom: 0px;
}
.donation{
	position: relative;
	top: 60px;
	margin:20px;
	margin-top: 10px; 
	padding: 0px;
	width: 300px;
	border:1px solid #e3e3e3;
	box-shadow: 0 1px 0 1px #e3e3e3;
}
.progressbar{
	height: 10px;
	border-bottom: 1px solid #e3e3e3;
}
.bar{
	width: 70%;
	height: 100%;
	line-height: 10px;
	background-color: #ef5f3c;
}
.donor{
	padding: 20px;
}
.donor h5{
	margin: 0px 10px 0px 0px;
}
.donor h5,p{
	color: #9a9a9a;
}
.donor h6{
	font-size: 12px;
	color: #73c4e3;
	margin: 10px;
}
.donor span{
	color: red;
}
.donor input{
	padding: 10px;
	width: 120px;
	border-radius: 5px;
	border:1px solid #e3e3e3;
}
.donor button{
	position: absolute;
	top: 132px;
	margin-left: 15px;
	border-radius: 5px;
	padding: 10px 20px;
	border: none;
	background-color: #1cbc2c;
	color: white;
}
button{
	position: relative;
	top:55px;
	padding:10px 20px;
	border:1px solid #e3e3e3;
	background-color: white;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 5px;
}